/* Base styles that apply to all devices */
:root {
  /* Font family */
  --font-family-sans: "Figtree", sans-serif;

  /* Font weight */
  --font-weight-regular: 450;
  --font-weight-medium: 550;
  --font-weight-semibold: 650;
  --font-weight-bold: 700;

  /* Letter spacing */
  --font-letter-spacing-densest: -0.54px;
  --font-letter-spacing-denser: -0.3px;
  --font-letter-spacing-dense: -0.2px;
  --font-letter-spacing-normal: 0px;

  /* Font size */
  --font-size-300: 0.75rem; /* 12px/16px */
  --font-size-325: 0.8125rem; /* 13px/16px */
  --font-size-350: 0.875rem; /* 14px/16px */
  --font-size-400: 1rem; /* 16px/16px */
  --font-size-500: 1.25rem; /* 20px/16px */
  --font-size-600: 1.5rem; /* 24px/16px */
  --font-size-750: 1.875rem; /* 30px/16px */
  --font-size-900: 2.25rem; /* 36px/16px */
  --font-size-1000: 3.75rem; /* 60px/16px */

  /* Line height */
  --font-line-height-300: 12px;
  --font-line-height-400: 16px;
  --font-line-height-500: 20px;
  --font-line-height-600: 24px;
  --font-line-height-800: 32px;
  --font-line-height-1000: 40px;
  --font-line-height-1200: 48px;

  /* The default background color of the admin. */
  --color-bg: rgba(241, 241, 241, 1);

  /* The background color for elements with the highest level of prominence, like a card. */
  --color-bg-surface: rgba(255, 255, 255, 1);

  /* The hover state color for elements with the highest level of prominence. */
  --color-bg-surface-hover: rgba(247, 247, 247, 1);

  /* The active state color for elements with the highest level of prominence. */
  --color-bg-surface-active: rgba(243, 243, 243, 1);

  /* The selected state color for elements with the highest level of prominence. */
  --color-bg-surface-selected: rgba(241, 241, 241, 1);

  /* The primary text color. */
  --color-text: rgba(48, 48, 48, 1);

  /* The secondary text color. */
  --color-text-secondary: rgba(97, 97, 97, 1);

  /* The disabled state text color. */
  --color-text-disabled: rgba(181, 181, 181, 1);

  /* The background fill color. */
  --color-bg-fill: rgba(255, 255, 255, 1);

  /* The hover state background fill color. */
  --color-bg-fill-hover: rgba(250, 250, 250, 1);

  /* The active state background fill color. */
  --color-bg-fill-active: rgba(247, 247, 247, 1);

  --colour-brand-white: #ffffff;
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-200: #bfdbfe;
  --color-brand-300: #93c5fd;
  --color-brand-400: #60a5fa;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #093c3f;
  --color-brand-800: #177863;
  --color-brand-900: #1e3a8a;
  --color-brand-950: #172554;

  /* No shadow. */
  --shadow-0: none;

  /* Very light shadow for small elements like icons. */
  --shadow-100: 0px 1px 0px 0px rgba(26, 26, 26, 0.07);

  /* Light shadow for small input fields and buttons. */
  --shadow-200: 0px 3px 1px -1px rgba(26, 26, 26, 0.07);

  /* Medium shadow for modals and popovers. */
  --shadow-300: 0px 4px 6px -2px rgba(26, 26, 26, 0.2);

  /* Heavy shadow for large dropdowns and panels. */
  --shadow-400: 0px 8px 16px -4px rgba(26, 26, 26, 0.22);

  /* Border radii */
  /* No border radius. */
  --border-radius-0: 0px;

  /* Very small border radius for slight rounding. */
  --border-radius-050: 2px;

  /* Small border radius for buttons and input fields. */
  --border-radius-100: 4px;

  /* Medium-small border radius for modal and card edges. */
  --border-radius-150: 6px;

  /* Medium border radius for larger elements. */
  --border-radius-200: 8px;

  /* Medium-large border radius for grouped elements. */
  --border-radius-300: 12px;

  /* Large border radius for standout elements. */
  --border-radius-400: 16px;

  /* Very large border radius for thematic components. */
  --border-radius-500: 20px;

  /* Extra-large border radius for special cases. */
  --border-radius-750: 30px;

  /* Circular border radius. */
  --border-radius-full: 9999px;

  /* Border widths */
  /* No border. */
  --border-width-0: 0px;

  /* Very thin border. */
  --border-width-0165: 0.66px;

  /* Thin border for subtle definition. */
  --border-width-025: 1px;

  /* Standard border for visible separation. */
  --border-width-050: 2px;

  /* Thick border for emphasis. */
  --border-width-100: 4px;

  /* Standard border color. */
  --color-border: rgba(227, 227, 227, 1);

  /* Hover state border color. */
  --color-border-hover: rgba(204, 204, 204, 1);

  /* Disabled state border color. */
  --color-border-disabled: rgba(235, 235, 235, 1);
}

/* CSS Reset */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

.heading-4xl {
  font-size: var(--font-size-1000);
  line-height: var(--font-line-height-1200);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-letter-spacing-densest);
  font-family: var(--font-family-sans);
  color: var(--color-brand-700);
  margin-bottom: 0.5em;
}

.heading-3xl {
  font-size: var(--font-size-900);
  line-height: var(--font-line-height-1200);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-letter-spacing-densest);
  font-family: var(--font-family-sans);
  color: var(--color-text);
  margin-bottom: 0.5em;
}

.heading-2xl {
  font-size: var(--font-size-750);
  line-height: var(--font-line-height-1000);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-letter-spacing-denser);
  font-family: var(--font-family-sans);
  color: var(--color-text);
  margin-bottom: 0.5em;
}

.heading-xl {
  font-size: var(--font-size-600);
  line-height: var(--font-line-height-800);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-letter-spacing-dense);
  font-family: var(--font-family-sans);
  color: var(--color-text);
  margin-bottom: 0.5em;
}

.heading-lg {
  font-size: var(--font-size-500);
  line-height: var(--font-line-height-600);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--font-letter-spacing-dense);
  font-family: var(--font-family-sans);
  color: var(--color-text);
  margin-bottom: 0.5em;
}

.heading-md {
  font-size: var(--font-size-350);
  line-height: var(--font-line-height-500);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--font-letter-spacing-normal);
  font-family: var(--font-family-sans);
  color: var(--color-text);
  margin-bottom: 0.5em;
}

.heading-sm {
  font-size: var(--font-size-325);
  line-height: var(--font-line-height-500);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--font-letter-spacing-normal);
  font-family: var(--font-family-sans);
  color: var(--color-text);
  margin-bottom: 0.5em;
}

.body-lg {
  font-size: var(--font-size-500);
  line-height: var(--font-line-height-800);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--font-letter-spacing-normal);
  font-family: var(--font-family-sans);
  color: var(--color-text);
  max-width: 60ch;
  margin-bottom: 1.5em;
  overflow-wrap: break-word;
}

.body-md {
  font-size: var(--font-size-400);
  line-height: var(--font-line-height-600);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--font-letter-spacing-normal);
  font-family: var(--font-family-sans);
  color: var(--color-text);
  max-width: 60ch;
  margin-bottom: 1.5em;
}

.body-sm {
  font-size: var(--font-size-300);
  line-height: var(--font-line-height-500);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--font-letter-spacing-normal);
  font-family: var(--font-family-sans);
  color: var(--color-text);
  max-width: 60ch;
  margin-bottom: 1.5em;
  overflow-wrap: break-word;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-surface);
  font-family: var(--font-family-sans);
}

main {
  max-width: 1200px;
  background-color: var(--color-bg-fill);
  top: 90px;
  margin: 0 auto;
  padding: 20px;
}

section {
  color: #1d1d1d;
}

button {
  font-size: var(--font-size-500);
  padding: 10px 20px;
  border-radius: var(--border-radius-200);
  background-color: var(--color-brand-700);
  color: var(--colour-brand-white);
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: var(--color-brand-800);
}

a {
  font-size: var(--font-size-500);
  text-decoration: none;
  color: var(--color-brand-700);
}

a:hover {
  text-decoration: underline;
  color: var(--color-brand-800);
}

header {
  z-index: 10;
  position: fixed;
  inset: 0% 0% auto;
}

.navigation-wrapper {
  z-index: 99;
  background-color: #fff;
  border-bottom: 1px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  display: flex;
}

.container-navigation {
  border-bottom: 1px #0414341a;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1200px;
  background-color: var(--color-bg-fill);
  margin: 0 auto;
  padding: 0 40px;
}

.navigation-link-wrapper {
  align-items: center;
  display: flex;
}

.menu-wrap {
  color: #283338;
  align-items: center;
  height: 100%;
  display: flex;
  /* position: static; */
}

.nav-logo-link {
  margin-right: 20px;
}

.nav-logo-link img {
  max-width: 100%;
  width: 200px;
  display: inline-block;
}

.navigation-toggle-2.single-link {
  padding-right: 20px;
}

.navigation-toggle-2 {
  color: #093c3f;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 12px 30px 12px 20px;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-600);
  transition: all 0.2s;
  display: flex;
}

.navigation-toggle-2:hover {
  color: #093c3f;
  background-color: #ecf1f1;
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

/* footer styles */
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background-color);
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-left p {
  margin: 0;
  font-size: var(--font-size-400);
  color: var(--color-text);
}

.footer-nav {
  display: flex;
  gap: 1.6rem;
  list-style: none; /* Removes the default list styling */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
}

.footer-link {
  color: var(--color-brand-700);
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-semibold);
  text-decoration: underline; /* Removes the default link underline */
}

.footer-link:hover {
  color: var(--color-brand-800); /* Changes the color on hover */
}

/* divider */
.divider {
  border: 0;
  height: 1px;
  background-color: #0414341a;
}

/* Drawer styles */
.drawer-overlay {
  position: fixed;
  top: 90px; /* Adjusted to start below the navigation bar */
  left: 0;
  width: 100%;
  height: calc(100% - 90px); /* Adjusted height to exclude the nav height */
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 98;
}

.drawer-menu {
  position: fixed;
  top: 90px; /* Adjusted to start below the navigation bar */
  right: -100%;
  width: 100%;
  height: calc(100% - 90px); /* Adjusted height to exclude the nav height */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: right 0.3s ease;
  z-index: 99;
  padding-top: 20px; /* Added padding to give space at the top */
}

.drawer-link {
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text);
  text-decoration: none;
  padding: 16px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.drawer-open .drawer-menu {
  right: 0;
}

.drawer-open .drawer-overlay {
  visibility: visible;
  opacity: 1;
}

.navigation-toggle-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 20px;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-600);
  transition: all 0.2s;
  color: var(--color-text);
  position: relative; /* Ensure the submenu is positioned relative to this element */
}

.navigation-toggle-dropdown:hover {
  background-color: var(--color-bg-surface-hover);
  font-weight: var(--font-weight-semibold);
}

/* Submenu container */
.submenu {
  display: none;
  position: absolute;
  top: 100%; /* Position it right below the dropdown */
  left: 0; /* Align it to the left of the dropdown */
  background-color: var(--color-bg-fill);
  box-shadow: var(--shadow-200);
  border-radius: var(--border-radius-200);
  overflow: hidden;
  z-index: 10;
  min-width: 200px; /* Ensure submenu has enough width */
}

/* Submenu items */
.submenu-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 1px solid var(--color-border);
}

.submenu-item:hover {
  background-color: var(--color-bg-surface-hover);
}

/* Material icons in submenu */
.submenu-item .material-symbols-rounded {
  margin-right: 8px;
  font-size: 24px;
  color: var(--color-brand-700);
}

.submenu.show {
  display: block; /* Make sure the submenu is displayed */
}

.material-symbols-rounded {
  font-size: 24px;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.chevron-up .material-symbols-rounded {
  transform: rotate(180deg);
}

/* Mobile devices (up to 600px) */
@media (max-width: 600px) {
  main {
    padding: 12px;
    margin-top: 89px;
  }
  .container-navigation {
    padding: 0 12px;
  }

  /* Hide the regular navigation links */
  .menu-wrap {
    display: none;
  }

  /* Show the menu button */
  .menu-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding: 12px;
    background-color: var(--color-bg-fill);
    border-radius: var(--border-radius-200);
    height: 48px;
    width: 48px;
  }

  .menu-button .material-symbols-rounded {
    font-size: 24px;
    color: var(--color-text);
  }

  /* Ensure the menu button is aligned to the right */
  .navigation-link-wrapper {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .heading-4xl {
    font-size: var(--font-size-900);
  }
}

/* Tablet devices (601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  main {
    padding: 20px;
    margin-top: 89px;
  }
  .container-navigation {
    padding: 0 20px;
  }
  /* Hide the regular navigation links */
  .menu-wrap {
    display: none;
  }

  /* Show the menu button */
  .menu-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding: 12px;
    background-color: var(--color-bg-fill);
    border-radius: var(--border-radius-200);
    height: 48px;
    width: 48px;
  }

  .menu-button .material-symbols-rounded {
    font-size: 24px;
    color: var(--color-text);
  }

  /* Ensure the menu button is aligned to the right */
  .navigation-link-wrapper {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

/* Desktop devices (over 900px) */
@media (min-width: 901px) {
  main {
    padding: 40px;
    margin-top: 89px;
  }
  .container-navigation {
    padding: 0 40px;
  }
  /* Show the regular navigation links */
  .menu-wrap {
    display: flex;
  }

  /* Hide the menu button */
  .menu-button {
    display: none;
  }
}
