/* Base styles that apply to all devices */
:root {
  /* Font family */

  /* Font weight */
  --font-weight-regular: 450;
  --font-weight-medium: 550;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;

  /* Letter spacing */
  --font-letter-spacing-densest: -0.54px;
  --font-letter-spacing-denser: -0.3px;
  --font-letter-spacing-dense: -0.2px;
  --font-letter-spacing-normal: 0px;

  /* Font size */
  --font-size-300: 0.75rem; /* 12px/16px */
  --font-size-325: 0.8125rem; /* 13px/16px */
  --font-size-350: 0.875rem; /* 14px/16px */
  --font-size-400: 1rem; /* 16px/16px */
  --font-size-500: 1.25rem; /* 20px/16px */
  --font-size-600: 1.5rem; /* 24px/16px */
  --font-size-750: 1.875rem; /* 30px/16px */
  --font-size-900: 2.25rem; /* 36px/16px */
  --font-size-1000: 3.75rem; /* 60px/16px */

  /* Line height */
  --font-line-height-300: 12px;
  --font-line-height-400: 16px;
  --font-line-height-500: 20px;
  --font-line-height-600: 24px;
  --font-line-height-800: 32px;
  --font-line-height-1000: 40px;
  --font-line-height-1200: 48px;

  --color-text: #0b0c0c;
  --color-brand: #003078;

  --color-link: #1d70b8;
  --color-link-hover: #003078;

  --color-selected: #f3f2f1;

  --color-hover-grey: #f3f2f1;

  --color-bg: #fff;
  --color-bg-fill: #fff;

  --color-focus: #fd0;

  /* No shadow. */
  --shadow-0: none;

  /* Very light shadow for small elements like icons. */
  --shadow-100: 0px 1px 0px 0px rgba(26, 26, 26, 0.07);

  /* Light shadow for small input fields and buttons. */
  --shadow-200: 0px 3px 1px -1px rgba(26, 26, 26, 0.07);

  /* Medium shadow for modals and popovers. */
  --shadow-300: 0px 4px 6px -2px rgba(26, 26, 26, 0.2);

  /* Heavy shadow for large dropdowns and panels. */
  --shadow-400: 0px 8px 16px -4px rgba(26, 26, 26, 0.22);

  /* Border radii */
  /* No border radius. */
  --border-radius-0: 0px;

  /* Very small border radius for slight rounding. */
  --border-radius-050: 2px;

  /* Small border radius for buttons and input fields. */
  --border-radius-100: 4px;

  /* Medium-small border radius for modal and card edges. */
  --border-radius-150: 6px;

  /* Medium border radius for larger elements. */
  --border-radius-200: 8px;

  /* Medium-large border radius for grouped elements. */
  --border-radius-300: 12px;

  /* Large border radius for standout elements. */
  --border-radius-400: 16px;

  /* Very large border radius for thematic components. */
  --border-radius-500: 20px;

  /* Extra-large border radius for special cases. */
  --border-radius-750: 30px;

  /* Circular border radius. */
  --border-radius-full: 9999px;

  /* Border widths */
  /* No border. */
  --border-width-0: 0px;

  /* Very thin border. */
  --border-width-0165: 0.66px;

  /* Thin border for subtle definition. */
  --border-width-025: 1px;

  /* Standard border for visible separation. */
  --border-width-050: 2px;

  /* Thick border for emphasis. */
  --border-width-100: 4px;

  /* Standard border color. */
  --color-border: rgba(227, 227, 227, 1);

  /* Hover state border color. */
  --color-border-hover: rgba(204, 204, 204, 1);

  /* Disabled state border color. */
  --color-border-disabled: rgba(235, 235, 235, 1);
}

/* CSS Reset */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-text);
}

main {
  max-width: 1200px;
  top: 90px;
  margin: 0 auto;
  /* padding: 20px; */
}

/* section {
  padding: 40px;
} */

a {
  font-size: var(--font-size-500);
  text-decoration: none;
  color: var(--color-brand-700);
}

a:hover {
  text-decoration: underline;
  color: var(--color-bg-fill-hover);
}

h1 {
  font-size: 2.2em;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 48px;
  margin: 24px 0px;
  color: var(--color-brand);
}

h2 {
  font-size: 1.7em;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 32px;
  margin-top: 34px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: 8px;
}

p {
  margin: 0px 0px 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 35em;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 15.5px;
}
ol,
ul {
  box-sizing: border-box;
}

ul {
  list-style-type: disc;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

header {
  z-index: 10;
  position: fixed;
  inset: 0% 0% auto;
  background-color: #fff;
}

li {
  display: list-item;
  unicode-bidi: isolate;
  padding-left: 2px;
  font-size: 18px;
}

pre:has(code) {
  background: #f1f1f1;
  padding: 1.33em;
  border-radius: 0.33em;
}

code {
  background: #f1f1f1;
  border-radius: 0.33em;
  padding: 2px;
}

button {
  font-family: "Nunito Sans", sans-serif;
}

article {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  margin-bottom: 2rem;
  padding: 2rem;
  justify-content: center;
}

/* :focus {
  outline: 4px solid #000000;
  background-color: var(--color-focus);
  box-shadow: 0 -2px var(--color-focus), 0 4px #0b0c0c;
} */

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 540px;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-content {
  max-width: 60%;
  margin-right: 16px;
}

.heading-display {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-brand);
  margin-bottom: 20px;
}

.body-display {
  font-size: 1.25rem;
  margin-top: 20px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.image-wrapper {
  overflow: hidden;
  border-radius: 8px;
}

.image-400 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-300 {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 300px;
}

.image-wrapper img {
  object-fit: cover;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: 600px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.25s linear;
  will-change: opacity;
}

.navigation-wrapper {
  z-index: 99;
  background-color: #fff;
  border-bottom: 4px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  display: flex;
}

.container-navigation {
  border-bottom: 1px #0414341a;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1200px;
  background-color: var(--color-bg-fill);
  margin: 0 auto;
  padding: 0 40px;
}

.navigation-link-wrapper {
  align-items: center;
  display: flex;
}

.menu-wrap {
  color: #283338;
  align-items: center;
  height: 100%;
  display: flex;
  /* position: static; */
}

.nav-logo-link {
  margin-top: 2px;
  margin-right: 20px;
}

.nav-logo-link:focus {
  background-color: var(--color-focus);
}

.nav-logo-link img {
  max-width: 100%;
  width: 200px;
  display: inline-block;
}

.navigation-toggle-2.single-link {
  padding-right: 20px;
}

.navigation-toggle-2 {
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 12px 30px 12px 20px;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-600);
  display: flex;
  margin-right: 4px;
}

.navigation-toggle-2:hover {
  background-color: var(--color-hover-grey);
  text-decoration: none;
  outline: 4px solid #000000;
}

.navigation-toggle-2:focus {
  background-color: var(--color-focus);
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

/* footer styles */
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #000; */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--background-color);
  flex-wrap: wrap;
}

.footer-left {
  flex: 1;
  margin-bottom: 1rem;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 4;
  gap: 1.5rem;
  margin-left: 48px;
}

.footer-section {
  flex: 1;
  min-width: 180px;
}

.footer-heading {
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-medium);
  color: var(--color-text);
  margin-bottom: 1rem;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  margin-bottom: 0.5rem;
}

.footer-link {
  color: var(--color-brand-700);
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-regular);
  text-decoration: underline;
}

.footer-link:hover {
  color: var(--color-bg-fill-hover);
}

/* divider */
.divider {
  border: 0;
  height: 1px;
  background-color: #0414341a;
}

/* Drawer styles */
.drawer-overlay {
  position: fixed;
  top: 90px; /* Adjusted to start below the navigation bar */
  left: 0;
  width: 100%;
  height: calc(100% - 90px); /* Adjusted height to exclude the nav height */
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 98;
}

.drawer-menu {
  position: fixed;
  top: 90px; /* Adjusted to start below the navigation bar */
  right: -100%;
  width: 100%;
  height: calc(100% - 90px); /* Adjusted height to exclude the nav height */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: right 0.3s ease;
  z-index: 99;
  padding-top: 20px; /* Added padding to give space at the top */
}

.drawer-link {
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text);
  text-decoration: none;
  padding: 16px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.drawer-open .drawer-menu {
  right: 0;
}

.drawer-open .drawer-overlay {
  visibility: visible;
  opacity: 1;
}

/* Container to wrap the button and submenu */
.navigation-toggle-container {
  position: relative; /* Positioning reference for the button */
}

.navigation-toggle-dropdown {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-600);
  color: var(--color-text);
  background: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  margin-right: 4px;
}

.navigation-toggle-dropdown:hover {
  background-color: var(--color-hover-grey);
  /* font-weight: var(--font-weight-regular); */
  outline: none;
  outline: 4px solid #000000;
}

.navigation-toggle-dropdown:focus {
  background-color: var(--color-focus);
}

/* Submenu container */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-bg-fill);
  box-shadow: 0px 2px 16px 0px rgba(33, 43, 54, 0.08),
    0px 0px 0px 1px rgba(6, 44, 82, 0.1);
  border: #000 4px solid;
  overflow: hidden;
  z-index: 10;
  margin-top: 26px;
  min-width: 300px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.submenu-item {
  display: flex;
  align-items: flex-start;
  padding: 12px 16px;
  color: var(--color-text);
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.submenu-item:hover {
  background-color: var(--color-hover-grey);
  text-decoration: none;
  outline: 4px solid #000000;
}

.submenu-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submenu-label {
  font-size: var(--font-size-400);
  text-align: left;
}

.submenu-description {
  font-size: var(--font-size-400);
  color: var(--color-brand-700);
  margin-top: 4px;
  text-align: left;
}

.submenu.show {
  display: block;
  opacity: 1;
}

.chevron-up .chevron-icon {
  transform: rotate(180deg);
}

.navigation-toggle-dropdown .submenu {
  left: 0;
}

.skip-link {
  position: absolute;
  top: -80px;
  left: 40px;
  color: #000000;
  background-color: #ffffff;
  padding: 12px 20px;
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-600);
  text-decoration: none;
  z-index: 100;
  /* transition: top 0.3s ease; */
}

.skip-link:focus {
  top: 10px;
  text-decoration: underline;
  background-color: var(--color-focus);
}

/* Prevent scrolling when the drawer is open */
body.drawer-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* Base styles for accordion */
.accordion-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion-item {
  /* border-top: 1px solid #dcdcdc; */
  border-bottom: 1px solid #dcdcdc;
}

.accordion-trigger {
  display: flex;
  justify-content: start;
  gap: 16px;
  align-items: center;
  width: 100%;
  /* border-radius: 4px; */
  padding: 20px 16px;
  background-color: var(--color-bg);
  border: none;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  outline: none;
}

.accordion-trigger:focus {
  /* outline: 4px solid #000000; */
  background-color: var(--color-focus);
  /* box-shadow: 0 -2px var(--color-focus), 0 4px #0b0c0c; */
}

.accordion-trigger:hover {
  background-color: var(--color-bg-fill-hover);
  outline: 4px solid #000000;
}

/* .accordion-trigger[aria-expanded="true"] {
  background-color: var(--color-selected);
} */

.accordion-trigger .material-symbols-rounded {
  transition: transform 0.3s ease;
}

.accordion-trigger[aria-expanded="true"] .material-symbols-rounded {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  /* transition: max-height 0.3s ease; */
  padding: 0 16px;
}

.accordion-content.open {
  max-height: 500px; /* Adjust this value according to the expected content size */
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.accordion-item:last-child {
  border-bottom: 1px solid #dcdcdc;
}

.icon-bg {
  padding: 4px; /* Adjust padding as necessary */
  border-radius: 0.33em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px; /* Set a fixed width */
  height: 32px; /* Set a fixed height */
  margin-right: 12px;
}

.icon-bg.red {
  background-color: #fcb6b6;
}
.icon-bg.blue {
  background-color: #93c5fd;
}
.icon-bg.green {
  background-color: #ecf1f1;
}

/* .accordion-content ul {
  list-style-position: inside;
}

.accordion-content ul li {
  margin-left: 0; 
} */

/* // Responsive styles */

/* Mobile devices (up to 600px) */
@media (max-width: 600px) {
  main {
    padding: 12px;
    margin-top: 89px;
  }
  .container-navigation {
    padding: 0 12px;
  }

  /* Hide the regular navigation links */
  .menu-wrap {
    display: none;
  }

  /* Show the menu button */
  .menu-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding: 12px;
    background-color: var(--color-bg-fill);
    height: 48px;
    width: 48px;
  }

  .menu-button .material-symbols-rounded {
    font-size: 24px;
    color: var(--color-text);
  }

  /* Ensure the menu button is aligned to the right */
  .navigation-link-wrapper {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .heading-4xl {
    font-size: var(--font-size-900);
  }

  footer {
    padding: 12px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .footer-right {
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    margin: 0;
  }

  .footer-section {
    min-width: 100%; /* Make each section take up full width on mobile */
  }
}

/* Tablet devices (601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  main {
    padding: 20px;
    margin-top: 89px;
  }
  .container-navigation {
    padding: 0 20px;
  }
  /* Hide the regular navigation links */
  .menu-wrap {
    display: none;
  }

  /* Show the menu button */
  .menu-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding: 12px;
    background-color: var(--color-bg-fill);
    height: 48px;
    width: 48px;
  }

  .menu-button .material-symbols-rounded {
    font-size: 24px;
    color: var(--color-text);
  }

  /* Ensure the menu button is aligned to the right */
  .navigation-link-wrapper {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  footer {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero-content {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .hero-image img {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Desktop devices (over 900px) */
@media (min-width: 901px) {
  main {
    padding: 40px;
    margin-top: 89px;
  }
  .container-navigation {
    padding: 0 40px;
  }
  /* Show the regular navigation links */
  .menu-wrap {
    display: flex;
  }

  /* Hide the menu button */
  .menu-button {
    display: none;
  }

  footer {
    padding: 40px;
  }
}
